*{
margin: 0;
padding: 0;
}

body { 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  

}

.Tela-login{
 justify-content: center; 
width: 30vw;
  height:40vw;
   left: 445px;
    display:inline-flex;
    border: none;
    border-left: 1px solid black;
       position: relative;
       color: black;
       text-align: left;
       background-color: white;
       margin:auto;
       align-items:center;

      
       
}

.Tela1{
       position: relative;
       width: 30vw;
       height:40vw;
       background-color: #69d2cd;
       border: none;
       justify-content: center;
      background-attachment:fixed left;
      background-image: url("https://i.imgur.com/GfKRZBD.jpg");
       background-size:500px 600px;
       background-position: centercenter; 
       background-repeat: no-repeat;
  
}

.Tela2{
  position: relative;
  width: 60vw;
       height:40vw;
       justify-content: center;
        background-color:white;
        border-radius: 10px;
         outline-width: 25px;
         outline-style: solid;
         outline-color: #c8c9c7;
         margin: auto;
         margin-top: 100px;
     display:block;
  text-align:right;
  align-items:center;
 }

*p{
   width: 100px;
   height: 100px;
   font-size: 5px;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 input{
   position:absolute, fixed;
   width: 25vw;
   padding: 5px 5px;
   font-size: 15px;
   display: block;
   margin-bottom: 10px;
  margin-top: 10px;
   
   
}

 
 button{
    background-color: #0d0f36;
    margin-top: 40px;
    padding: 10px;
    width: 10%;
    border-radius: 10px;
    color: white;
    font-size: 15px; 
    text-align: center;
   display:block;
   margin-left:8%;
   position:fixed;
}


button:hover{
            background-color: #294380
}
  
hr{
  margin-top:1px;
  margin-bottom:20%;
  whidth:100%;
}



h1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -3em;
  position:fixed center;
}
 
